* {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-section {
    display: flex;
    justify-content: space-between;
}

.top-section-spacer {
    height: 50px;
    flex-basis: 200px;
}

figure {
    display: flex;
    align-items: center;
    margin: 0px;
    flex-basis: 200px;
}

img {
    width: 60px;
    height: auto;
}

.calculator-buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
}

.calculator-button-number, .calculator-button-operator, .calculator-button-clear {
    flex-basis: 25%;
    box-sizing: border-box;
    border: 1px solid rgba(51, 51, 51, 0.10);
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 15px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
}

button:hover {
    background-color: rgba(51, 51, 51, 0.10);
}

.calculator-body {
    flex: 1 0 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.calculator-display {
    flex: 1 0 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    color: rgba(0, 0, 0, 0.85);
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    height: 40px;
    width: 30%;
    padding-left: 10px;
}

.main-section {
    display: flex;
    justify-content: space-around;
}

.helpful-tips {
    flex: 1 0 10%;
    text-align: end;
    padding-right: 20px;
    padding-left: 30%;
}

.body-spacer {
    height: 40px;
    flex: 1 0 10%;
}